/* TAB VERSION */
@media (max-width:768px){
    .container{
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
    .exBanner1{
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
  }
  .exBanner1>div>img{
    height: 100%;
    width: 100%;
  }
  .text1{
    width: 300px;
    font-size: 12px;
  }
  .text{
    width: 200px;
    font-size: 20px;
  }
  .cell{
    width: 100%;
  }
  }
  @media(min-width:769px) and (max-width:1200px){
    .cell{
      width: 50%;
    }
    .container{
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .text1{
      width: 500px;
      font-size: 20px;
    }
    .text{
      width: 400px;
      font-size: 30px;
    }
  }
    @media only screen and (max-width: 600px) {
      .left-container{
        display: none;
      }
      .lg-view {
        display:none;  
      }
    }
    @media only screen and (min-width: 600px) {
      .sm-view {
        display:none;  
      }
    }
  

